<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rent or buy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <style>
  header {
    background-color: #0078e7;
  }
  header a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
  }
  .pure-menu-heading {
    padding: 1rem;
    color: #fff;
  }
  main {
    margin: 1rem;
  }
  label {
    padding-top: .5rem;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert-danger .alert-link {
    color: #843534;
  }
  .alert .alert-link {
    font-weight: 700;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .left {
    float: left;
  }

  i {
    font-style: normal;
  }
  /* Pulse style */

  .photo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius:1000px;
    width:150px;
    height:150px;
    padding:5px;
    border:2px solid #efefef;
    background:#fdfdfd;
  }

  .photo img{
    border-radius: 1000px;
  }

  .pulse{
    position:absolute;
    left:50%;
    top:50%;
    width:500px;
    height:500px;
    background:radial-gradient(white 25%, blue);
    z-index:-1;
    transform:translateY(-50%) translateX(-50%);
    border-radius:1000px;
    opacity:0.3;
    border:2px solid blue;
  }
  /* Buttons*/

  .mid {
    text-align: center;
  }

  .no {
    background: #c00;
  }

  .yes {
    background: #0c0;
  }

  .buttonfancy {
    border: none;
    color: #fff;
    border-radius: 50% 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 .5em;
    display: inline-block;
  }

  // Cardsstyle

  #card-img {
    border:2px solid #efefef;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 6px;
  }


  td-card .image {
    position: relative;
  }

  td-card img {
    max-width: 100%;
    border-radius: 6px;
  }
  </style>
</head>
<body>
  <header class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">Rent or buy</a>
    <a href="/highscore" class="pure-menu-heading">Highscore</a>
    <a id="loginbutton" href="/login">Log in</a>
    <a id="logoutbutton">Log out</a>
  </header>
  <main>
    <div id="message" class="hidden" role="alert"></div>
    <!-- House -->
    <div id="loading" class="hidden">
      <div class="photo">
        <img src="http://imgur.com/l0c9fV8.png" alt="House" />
      </div>
      <div class="pulse"> </div>
    </div>

    <div id="cards" class="hidden">
      <div class="cards">
        <div class="mid">
          <div class="card">
            <div class="image">
              <img id="card-img" width="320">
              <div>
                <i>📍</i><span>Oslo</span>
                <i>💵</i><span>25 000 000</span>
              </div>
            </div>
          </div>
          <button id="no" class="no buttonfancy">X</button>
          <button id="yes" class="yes buttonfancy">✔</button>
        </div>
      </div>
    </div>

    <div id="score" class="hidden mid">
      <div class="mid">
        <div id="face" style="font-size: 60px;"></div>
      </div>
    </div>
    {{{body}}}
  </main>
  <footer></footer>
  <script>
  var register = document.getElementById("register");
  var loginbutton = document.getElementById("loginbutton");
  var logoutbutton = document.getElementById("logoutbutton");
  var user = document.getElementById("user");
  var loading = document.getElementById("loading");
  var score = document.getElementById("score");
  var face = document.getElementById("face");
  var cards = document.getElementById("cards");
  var allhouses = new Firebase("https://rentorbuy.firebaseio.com/houses");
  houses = new Array();
  allhouses.on("child_added", function(snapshot) {
    houses.push(snapshot.val());
  });
  var house = new Firebase("https://rentorbuy.firebaseio.com/houses");

  /*
  house.child("2").set({
  "url": "http://m.finn.no/realestate/homes/ad.html?finnkode=69770141",
  "img": "https://finncdn.no/dynamic/640w/2016/1/vertical-2/15/1/697/701/41_2136106910.jpg",
  "price":24000000
});
*/


var cards = document.getElementById("cards");

document.getElementById("yes").addEventListener("click", function () {
  console.log("yes");
  hide(cards);
  paintScore();
});

document.getElementById("no").addEventListener("click", function () {
  console.log("no");
  hide(cards);
  paintScore();
});

function paintHouse(house) {
  document.getElementById("card-img").src = house.img;
  hide(score);
  hide(loading);
  show(cards);
}

function scorepoints() {
  ref.onAuth(function(authData) {
    if (authData) {
      var pathname = window.location.pathname;
      if(pathname.indexOf("h") == -1 && pathname.indexOf("p") == -1){
        loggedIn();
        var usersRef = ref.child("users/" + authData.uid + "/score")
        usersRef.transaction(function (current_value) {
          return (current_value || 0) + 1;
        }, function(error) {
          if (error) {
            alert("Data could not be saved." + error);
          } else {
            console.log("Data saved successfully.");
          }
        });
      }
    } else {

    }
  });
};

function paintScore() {
  if(Math.random() > 0) {
    face.innerHTML = "😊";
    scorepoints();
  } else {
    face.innerHTML = "😞";
  }
  show(score);

  setTimeout(function(){
    if(houses.length > 0) {
      paintHouse(houses.pop());
    } else {
      hide(score);
      show(document.getElementById("loading"));
    }
  }, 2000);
}

function loggedIn(profileData) {
  if(register) {
    hide(register);
    if(user){
      show(user);
    }
  }
  hide(loginbutton);
  show(logoutbutton);
  show(loading);
  setTimeout(function(){
    if(houses.length > 0) {
      paintHouse(houses.pop());
    } else {
      hide(score);
      show(loading);
    }
  }, 2000);
}

function loggedOut() {
  if(register) {
    show(register);
    if(user){
      hide(user);
    }
  }
  show(loginbutton);
  hide(logoutbutton);
  hide(loading);
  hide(cards);
}
function show(el) {
  el.classList.remove("hidden");
}

function hide(el) {
  el.classList.add("hidden");
}

var ref = new Firebase("https://rentorbuy.firebaseio.com");
ref.onAuth(function(authData) {
  if (authData) {
    console.log("Authenticated successfully with payload:", authData);
    var pathname = window.location.pathname;
    if(pathname.indexOf("h") == -1 && pathname.indexOf("p") == -1){
      loggedIn();
    }
  } else {
    console.log("Not authenticated");
    loggedOut();
  }
});

document.getElementById("logoutbutton").addEventListener("click", function () {
  ref.unauth();
});

function createUser(userObj) {
  return new Promise(function(resolve, reject) {
    ref.createUser(userObj, function (err) {
      if (!err) {
        resolve();
      } else {
        reject(err);
      }
    });
  });
}

function authWithPassword(userObj) {
  return new Promise(function(resolve, reject) {
    ref.authWithPassword(userObj, function onAuth(err, user) {
      if (err) {
        reject(err);
      }
      if (user) {
        resolve(user);
      }
    });
  });
}

function createUserAndLogin(userObj) {
  return createUser(userObj)
  .then(function () {
    return authWithPassword(userObj);
  });
}

function handleAuthResponse(promise) {
  console.log(promise);
  promise
  .then(function (authData) {
    console.log("it works");
    document.location.href = "/";
  }, function (err) {
    showMessage(err);
  });
}


function showMessage(err, type) {
  var message = document.getElementById("message");
  message.classList.remove("hidden");
  setMessageType(message, type);
  // https://www.firebase.com/docs/web/guide/user-auth.html#section-full-error
  switch(err.code) {
    case "EMAIL_TAKEN": message.innerHTML = "E-mail already exsists. Try to <a href=\"/login\" class=\"alert-link\">log in</a>.";
    break;
    case "INVALID_EMAIL": message.innerHTML = "Invalid email.";
    break;
    case "INVALID_PASSWORD": message.innerHTML = "Invalid password. <a href=\"/recover\" class=\"alert-link\">Did you forget it?</a>";
    break;
    case "INVALID_USER": message.innerHTML = "User does not exsist. Try to <a href=\"/\" class=\"alert-link\">register a new user</a>.";
    break;
    default: message.innerHTML = err.message;
  }
}

function setMessageType(message, type) {
  if(type === "success") {
    message.classList.add("alert","alert-success");
  } else {
    message.classList.add("alert","alert-danger");
  }
}

// Registration
var registration = document.getElementById("register");
if(registration) {
  registration.addEventListener("submit", function (e) {
    e.preventDefault();
    var user = {
      name:  document.getElementById("name").value.trim(),
      email: document.getElementById("email").value.trim(),
      password: document.getElementById("password").value.trim()
    };
    handleAuthResponse(createUserAndLogin(user));
  });
}

// Pulse stuff
var size = 140;
setInterval(function(){
  $('.pulse').width(size).height(size);
  size++;
  if(size > 200){
    $('.pulse').css('opacity', $('.pulse').css('opacity')-0.001);
  }
  if(size > 500){
    size = 50;
    $('.pulse').width(size).height(size);
    $('.pulse').css('opacity', '0.3');
  }
},0);


(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'ANALYTICS CODE HERE', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>