<!-- REGISTER -->
<form id="register" class="pure-form pure-form-stacked" role="form">
  <fieldset>
    <h2>Register a new user</h2>

    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Navn">

    <label for="email">E-mail</label>
    <input id="email" type="email" placeholder="E-mail">

    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Password">

    <button type="submit" class="pure-button pure-button-primary">Make a user</button>
  </fieldset>
</form>